{% extends 'base.html.twig' %}

{% block title %}New Cart{% endblock %}

{% block body %}
    <h1>Create new Cart</h1>

    {{ include('cartdb/_form.html.twig') }}

    <a href="{{ path('app_cartdb_index') }}">back to list</a>
{% endblock %}
